body {
  font-family: "Poppins", sans-serif;
  color: #1b161d;
  background-color: #ffffff;
}

.body-bg {
  background-image: url(../images/body-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

/*header section*/


.hero_area {
  height: 98vh;
  position: relative;
}

.sub_page .hero_area {
  height: auto;
}

.hero_area::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 102%;
  left: 0;
  top: 0;
  background-color: #c4d70f;
  clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
}

.sub_page .hero_area::before {
  clip-path: none;
}


.hero_area.sub_pages {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link img {
  width: 22px;
  margin-right: 15px;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px 25px;
  color: #fefeff;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 15px;
  top: 14px;
}

.custom_menu-btn button {
  margin-top: 12px;
  outline: none;
  border: none;
  background-color: transparent;

}

.custom_menu-btn button span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 7px 0;
  transition: all .3s;
}

.menu_btn-style {
  position: fixed;
  right: 29px;
  top: 14px;
}

.custom_menu-btn .s-2 {
  transition: all .1s;
}

.menu_btn-style button .s-1 {
  transform: rotate(45deg) translateY(17px);
}

.menu_btn-style button .s-2 {
  transform: translateX(100px);
}

.menu_btn-style button .s-3 {
  transform: rotate(-45deg)translateY(-17px);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}

.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu_width {
  width: 100%;
}



a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 18px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  margin: 0 40px 0 15px;
  background-position: center;

}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 40px;
  margin-right: 5px;
}

.navbar-brand span {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
  color: #fefeff;
  margin-top: 5px;

}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

.quote_btn-container a {
  display: inline-block;
  padding: 5px 15px;
  background-color: #fc5d35;
  color: #f7f7f7;
  font-size: 14px;
  text-transform: uppercase;
}

/*end header section*/

/* slider section */


.slider_section .row {
  align-items: center;
}

.slider_detail {
  color: #fefeff;
}

.slider_detail h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.slider_detail h1 span {
  color: #010106;
}

.slider_detail p {
  margin: 25px 0 35px 0;
}

.slider_detail a {
  display: inline-block;
  padding: 9px 35px;
  border: 2px solid #fefeff;
  color: #fefeff;
  border-radius: 35px;
}

.slider_detail a:hover {
  background-color: #fefeff;
  color: #010106;
}

.slider_img-box img {
  width: 100%;
  position: relative;
  z-index: 2;
}

.slider_img-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 40%;
  background-color: #fff;
  filter: blur(95px) opacity(.7);

}

.slider_section .carousel-indicators {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  color: #fff;
  justify-content: flex-start;
  margin: 0;
  left: 5%;
  align-self: center;
}

.slider_section .carousel-indicators li {
  text-indent: initial;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  line-height: 10px;
  opacity: 0.9;
}

.slider_section .carousel-indicators .active {
  font-size: 24px;
}

.slider_section #carouselExampleControls,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.slider_section .carousel_btn-container {
  width: 100px;
  position: absolute;
  top: 75vh;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
  position: relative;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: center;
  background-color: #fff;
  transform: translateY(-50%);
  -webkit-box-shadow: 2px 0px 23px -4px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 2px 0px 23px -4px rgba(0, 0, 0, 0.32);
  box-shadow: 2px 0px 23px -4px rgba(0, 0, 0, 0.32);
}

.slider_section .carousel-control-prev:hover,
.slider_section .carousel-control-next:hover {
  background-color: #292727;
  background-size: 12px;

}

.slider_section .carousel-control-prev {
  background-image: url(../images/left-black-arrow.png);
}

.slider_section .carousel-control-next {
  background-image: url(../images/right-black-arrow.png);
}

.slider_section .carousel-control-prev:hover {
  background-image: url(../images/prev.png);
}

.slider_section .carousel-control-next:hover {
  background-image: url(../images/next.png);
}

/* end slider section */

/* about section */
.about_section {
  margin-top: 45px;
  text-align: center;
}

.about_section h4 {
  font-size: 22px;
}

.about_card-container {
  display: flex;
  justify-content: center;
}

.about_card {
  margin: 45px 20px;
  width: 30%;
  min-width: 300px;
  height: 540px;
}

.about_card .about-detail {
  padding: 2px 25px 35px 25px;
  height: 420px;
  -webkit-box-shadow: -1px 0px 25px 9px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: -1px 0px 25px 9px rgba(0, 0, 0, 0.09);
  box-shadow: -1px 0px 25px 9px rgba(0, 0, 0, 0.09);
}

.about_card .about_img-box {
  width: 110px;
  height: 104px;
  margin: 50px auto;

}

.about_card .about-detail p {
  margin-top: 15px;
}

.about_card img {
  width: 100%;
}

.about_card a {
  display: inline-block;
  padding: 8px 25px;
  border: 2px solid #c4d70f;
  color: #c4d70f;
  border-radius: 35px;
  margin-top: 55px;
}

.about_card a:hover {
  background-color: #c4d70f;
  color: #fefeff;
}


/* end about section */

/* client section */

/* portfolio section */
.portfolio_section {
  text-align: center;
}

.portfolio_section .row>div {
  margin: 20px 0;

}

.portfolio_img-box img {
  width: 100%;
  height: max-content;
}

/* end portfolio section */

/* team section */

.team_section {
  text-align: center;
}

.team_card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #9be604;
}

.team_card {
  width: 250px;
  padding: 0 15px;
  margin: 35px 0;
}

.team_card h5 {
  text-transform: uppercase;
}

.team_card img {
  width: 100%;
}

.team_detail-box {
  width: 150px;
  margin: 35px auto 0 auto;
}

.team_social {
  display: flex;
  justify-content: space-between;
}

.team_follow h6 {
  color: #9be604;
}

/* end team section */

/* contact section */
.contact_section .row {
  align-items: center;
}

.contact_section h2 {
  text-align: center;
  text-transform: uppercase;
}

.contact_section p {
  color: #787877;
  text-align: center;
  font-size: 20px;
  margin-bottom: 0;
}


.contact_section label {
  display: flex;
  flex-direction: column;
  color: #797879;
  margin-bottom: 25px;
}

.contact_section input,
.contact_section textarea {
  outline: none;
  border: 1px solid #c1c1c2;
  width: 90%;
  height: 45px;
  padding: 0 15px;
  margin-top: 5px;
}

.contact_section textarea {
  height: 175px;
  padding: 5px;
}

.contact_form-container {
  padding: 15px 0 15px 0;
}

.contact_form-container button {
  border: none;
  background-color: #a0e711;
  color: #fff;
  padding: 12px 45px;
  font-size: 14px;
  border-radius: 25px;
  text-transform: uppercase;
}

.contact_img-box img {
  width: 100%;
}


/* contact section */

/* why section */
.Why_section {
  text-align: center;
}

.Why_section p {
  width: 85%;
  margin: 35px auto 0 auto;
}

/* end why section */

/* info section */
.info_section {
  position: relative;
}

.info_section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -3px;
  background-color: #191919;
  clip-path: polygon(0 315px, 100% 0, 100% 100%, 0% 100%);
}

.info_content {
  margin-top: 250px;
}

.info_section img {
  width: 100%;
}

.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 10px 0;
}

.info_section ul li a,
.info_section ul li a:hover {
  color: #fff;
}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.info_section .social-box {
  margin: 25px 0;
}

.info_logo .navbar-brand span {
  color: #fff;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

.form_container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.info_section .form_container input {
  width: 95%;
  height: 45px;
  border-radius: 0;
  border: none;
  outline: none;
  padding-left: 5px;
  border-bottom: 1px solid #626262;
  background-color: transparent;
}


.info_section .form_container button {
  background-color: #a0e711;
  border: none;
  outline: none;
  color: #fff;
  padding: 8px 50px;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 25px;
  text-transform: uppercase;
  margin-top: 35px;

}

/* end info section */
.footer_hr {
  position: relative;
  width: 55%;
  margin: 0 auto;
  background-color: #626262;
}

/* footer section*/

.footer_section {
  background-color: #191919;
  padding: 25px 20px;
}

.footer_section p {
  color: #fefeff;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #fefeff;
}

/* end footer section*/
.sc-navbar {
  position: sticky;
  top: 0;
  z-index: 2000;
}

.sc-sidebar {
  position: sticky;
  top: 5.5rem;
  z-index: 1000;
  height: calc(100vh - 5.5rem);
}

.sc-links-headtitle {
  background: #41484e;
  display: block;
  font-size: 1.2rem;
}

.sc-links {
  display: block;
  height: calc(100vh - 9rem); 
  overflow-y: auto;
}
