<div class="modal fade" id="addBlockModal" tabindex="-1" role="dialog" aria-labelledby="addBlockModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="POST" name="add_block">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Submit Block</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="submitBlockMessage">
                        <!-- Submit Message Here -->
                    </div>

                    <div class="form-group row">
                        <label for="candidateVote" class="col-sm-3 col-form-label-sm">Candidate's Vote</label>
                        <div class="input-group input-group-sm col-sm-9 mb-3">

                            {% for id in range(app['num_of_candidate']) %}
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="candVote-{{ id }}">#{{ id }}</span>
                            </div>
                            <input type="text" name="candidate[]" class="form-control" aria-label="Sizing example input"
                                aria-describedby="candVote-{{ id }}" required>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Private Key -->
                    <div class="form-group row">
                        <label for="privateKey" class="col-sm-3 col-form-label-sm">Private Key</label>
                        <div class="col-sm-9">
                            <textarea name="privatekey" class="form-control" id="privateKey" rows="3"
                                placeholder="Insert Private Key" required></textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>

            </form>
        </div>
    </div>
</div>


<template id="template-submitBlockMessage">
    <div class="alert alert-dismissible fade show" role="alert">                     
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</template>
