<header class="navbar navbar-expand-lg navbar-dark flex-md-row bg-dark sc-navbar">
    <a class="navbar-brand" href="{{ url('index') }}">SCARA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            {% for href, id, caption in navigation_bar %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
                </li>
            {% endfor %}

            {{ active_page }}
        </ul>
    </div>

    <div class="mr-4 text-light" id="blockchainVerificationResult">

    </div>

    {% if nodes is not defined %}
    <div class="btn-group mr-2" role="group" aria-label="Action Group">
        <button type="button" class="btn btn-secondary btn-sm" id="verifyBlockchain">Verify Blockchain</button>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addBlockModal">
            Submit Block
        </button>
    </div>
    {% endif %}
</header>
