<div class="d-flex bd-highlight justify-content-center" id="votesCalculationContainer">
    <div class="spinner-border text-center" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<template id="template-votesCalculation">
    <div class="p-2 flex-fill text-center">
        <h1 id="candVotePercent0">20%</h1>
        <h5 id="candVoteNum0">100/1000</h5>
        <h6 id="candName0" >Candidate #1</h6>
    </div>
</template>
