{% set navigation_bar = [
    ('/blocks', 'blocks', 'Blocks'),
    ('/nodes', 'nodes', 'Nodes')
] -%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ url('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url('static', filename='css/styles.css') }}">

    <title>
        {% block title %}
        {% endblock %}
    </title>

</head>
<body class="bg-light">
    {% block content %}
        {% include "_header.html" %}
    {% endblock %}

    <script src="{{ url('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url('static', filename='js/bootstrap.min.js') }}"></script>
    
    {% block script %}
    {% endblock %}
</body>
</html>
