<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Perhitungan Suara</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />
</head>

<body class="sub_page">

  <body class="">
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="{{url_for('index')}}">
              <span>
                KOMISI PEMILIHAN UMUM
              </span>
            </a>

            <div class="navbar-collapse" id="">
              <div class="d-none d-lg-flex ml-auto flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav  ">
                  <li class="nav-item">
                    <a class="nav-link" href="fruit.html">
                      <img src="images/login.png" alt="" />
                      <span>Login</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="service.html">
                      <img src="images/signup.png" alt="" />
                      <span>Sign Up</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>

    <!-- contact section -->
    <section class="contact_section layout_padding">
      <div class="container">
        <p>
          SISTEM E-VOTING
        </p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <form action="" method="post" name="add_dht">
              <div class="contact_form-container">
                <div>
                  <div>
                    <label>
                      CALON 1
                      <input name="calon1" type="text" />
                    </label>
                  </div>
                  <div>
                    <label>
                      CALON 2
                      <input name="calon2" type="text" />
                    </label>
                  </div>

                  <div>
                    <label>
                      CALON 3
                      <input name="calon3" type="text" />
                    </label>
                  </div>

                  <div>
                    <label>
                      PRIVATE KEY
                      <textarea name="PrivateKey" id="" cols="30" rows="10"></textarea>
                    </label>
                  </div>
                  <div class="mt-5">
                    <button type="submit">
                      Submit
                    </button>
                  </div>
                  <div id="submitBlockMessage">
                    <!-- Submit Message Here -->
                  </div>
                </div>
              </div>
            </form>
          </div>
            <!--<div class="col-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Received from TPS #Y</h5>
                  <p class="card-text">Data Valid</p>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
                    Details
                  </button>
                  <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Candidates Votes</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Candidate 1</td>
                                <td>22</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Candidates 2</td>
                                <td>50</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Candidates 3</td>
                                <td>78</td>
                              </tr>
                            </tbody>
                          </table>
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Public Keys</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>3059301306072a8648ce3d020106082a8648ce3d030107034200049fa7466124680857b139dd85450fdd035ef9d834ea8ef0fa01fbd778af80e4c7e18e0d77b34852465003d6ebd772b539ea4f380f8dd40ee686ee0c2414dacf99</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
          <!--<div class="col-md-6">
            <div class="contact_img-box">
              <img src="{{ url_for('static', filename='images/form-img.png') }}" alt="">
            </div>
          </div>-->
        </div>
      </div>
      <template id="template-submitBlockMessage">
        <div class="alert alert-dismissible fade show" role="alert">                     
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
      </template>
    
    </section>
    <!-- end contact section -->


    <!-- info section -->
    <section class="info_section layout_padding">
      <div class="container info_content">
        <div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <h5>
                    About Us
                  </h5>
                  <ul>
                    <li>
                      <a href="">
                        It is a long established
                      </a>
                    </li>
                    <li>
                      <a href="">
                        fact that a reader will be
                      </a>
                    </li>
                    <li>
                      <a href="">
                        distracted by the read
                      </a>
                    </li>
                    <li>
                      <a href="">
                        able LoremIt is a long es
                      </a>
                    </li>
                    <li>
                      <a href="">
                        tablished fact that a
                      </a>
                    </li>
                    <li>
                      <a href="">
                        reader will be distracted
                      </a>
                    </li>

                  </ul>
                </div>
                <div class="col-md-6">
                  <h5>
                    Contact Us
                  </h5>
                  <ul>
                    <li>
                      <a href="">
                        It is a long established
                      </a>
                    </li>
                    <li>
                      <a href="">
                        fact that a reader will be
                      </a>
                    </li>
                    <li>
                      <a href="">
                        distracted by the read
                      </a>
                    </li>
                    <li>
                      <a href="">
                        able LoremIt is a long es
                      </a>
                    </li>
                    <li>
                      <a href="">
                        tablished fact that a
                      </a>
                    </li>
                    <li>
                      <a href="">
                        reader will be distracted
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
              <div class="form_container mt-5">
                <form action="">
                  <input type="email" placeholder="Enter Your email" />
                  <button type="submit">
                    Subscribe
                  </button>
                </form>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info_img-box">
                <img src="{{ url_for('static', filename='images/map.png') }}" alt="">
              </div>
              <div class="d-flex justify-content-end pr-5">
                <div class="social-box">
                  <a href="">
                    <img src="{{ url_for('static', filename='images/fb.png') }}" alt="" />
                  </a>

                  <a href="">
                    <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="" />
                  </a>
                  <a href="">
                    <img src="{{ url_for('static', filename='images/linkedin1.png') }}" alt="" />
                  </a>
                  <a href="">
                    <img src="{{ url_for('static', filename='images/instagram1.png') }}" alt="" />
                  </a>
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>
    </section>

    <!-- end info section -->
    <hr class="footer_hr">
    <!-- footer section -->
    <section class="container-fluid footer_section">
      <p>
        &copy;
        2022 All Rights Reserved.
        <a href="https://www.kpu.go.id">KPU.GO.ID</a>
      </p>
    </section>
    <!-- footer section -->

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>



    <script>
      function openNav() {
        document.getElementById("myNav").classList.toggle("menu_width")
        document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
      }
    </script>


  </body>

</html>