{% extends "base.html" %}

{% block title %}
View Blocks 
{% endblock %}

{% block content %}

{{ super() }}

<div class="jumbotron jumbotron-fluid bg-dark text-light">
    <div class="container">
        
        {% include "_overview.html" %}
    
    </div>
</div>

<div class="container">
    <div class="row">
        <main class="col-md-6" role="main" id="blocks-list">
            
            <!-- Block List here -->
            
        </main>

        <!-- Block Details -->
        <div class="col-md-6 bg-light sc-sidebar">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-4" id="block-detail-height">
                        BLOCK DETAILS
                    </h5>
                        
                    <div class="card-text">
                        <table class="table table-striped mb-5">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" colspan="2">Candidate's Votes</th>
                                </tr>
                            </thead>
                            <tbody id="block-detail-candidates">
                                {% for cand_num in range(3) %}
                                <tr>
                                    <td scope="row">Candidate #{{ cand_num + 1}}</th>
                                    <td>N/A</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td scope="row">Time</th>
                                    <td>
                                        <small class="text-break text-muted" id="block-detail-time">
                                            N/A
                                        </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">TPS ID</th>
                                    <td>
                                        <small class="text-break text-muted">
                                            <a href="" class="card-link" id="block-detail-nodeid">
                                                N/A
                                            </a>
                                        </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">Signature</th>
                                    <td>
                                        <small class="text-break text-muted" id="block-detail-signature">
                                            N/A
                                        </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">Previous Hash</th>
                                    <td>
                                        <small class="text-break text-muted">
                                            <a href="" class="card-link" id="block-detail-prevhash">
                                                N/A
                                            </a>
                                        </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">Hash</th>
                                    <td>
                                        <small class="text-break text-muted" id="block-detail-hash">
                                            N/A
                                        </small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<template id="template-block">
    <div class="card mb-2">
        <div class="card-body">
            <div class="card-text">
                <strong class="block-title">Block #</strong>
                <small class="card-subtitle text-muted block-node">oleh TPS 20</small>
                
                <button type="button" value="#" class="btn btn-sm btn-link float-right block-detail">Details &#x276F;</button>
            </div>
        </div>
    </div>
</template>

{% include "_add_block_modal.html" %}

{% endblock %}

{% block script %}
<script src="{{ url('static', filename='js/app.js') }}"></script>
{% endblock %}
