<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>E-Vote</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="{{url_for('index')}}">
            <span>
              PEMILIHAN UMUM
            </span>
          </a>

          <div class="navbar-collapse" id="">
            <div class="d-none d-lg-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('contact')}}">
                    <img src="{{ url_for('static', filename='images/login.png') }}" alt="" />
                    <span>Halaman TPS</span></a>
                </li>
              </ul>
              <form class="form-inline my-2 mb-3 mb-lg-0 mr-5">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>

            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="{{url_for('index')}}">HOME</a>
                <!--<a href="team.html">TEAM</a> -->
                <!--<a href="portfolio.html">PORTFOLIO</a> -->

                <a href="{{url_for('index')}}">CONTACT US</a>

              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-3 offset-md-2">
                <div class="slider_detail">
                  <h1>
                    INNOVATIVE
                    <span>
                      SOLUTIONS
                    </span>
                  </h1>
                  <p>
                    Dengan teknologi E-Voting yang menggunakan cryptography, membuat proses pemilu menjadi lebih aman dan lebih cepat 
                  </p>
                  <div>
                    <a href="">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="slider_img-box">
                  <img src="{{ url_for('static', filename='images/slider-img.png') }}" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-3 offset-md-2">
                <div class="slider_detail">
                  <h1>
                    PEMILIH BERDAULAT
                    <span>
                      NEGARA KUAT
                    </span>
                  </h1>
                  <p>
                    Bersama awasi PEMILU, bersama tegakkan keadilan PEMILU
                  </p>
                  <div>
                    <a href="">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="slider_img-box">
                  <img src="{{ url_for('static', filename='images/slider-img.png') }}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-container">
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

    </section>

    <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <h2>
        HASIL PERHITUNGAN SUARA
      </h2>
    </div>

    <div class="container">
      <div class="about_card-container">
        <div class="about_card">
          <div class="about-detail">
            <div class="about_img-box">
              <img src="{{ url_for('static', filename='images/cal1-removebg-preview.png') }}" alt="">
            </div>
            <div class="card_detail-ox">
              <h4>
                CALON 1
              </h4>
              <h3 id="votecandidate1">
              </h3>
              <!--<p>
                Last updated 3 minutes ago from TPS Y
              </p>-->
            </div>
          </div>
          <div>
            <a href="" class="about_btn">
              Read More
            </a>
          </div>
        </div>
        <div class="about_card">
          <div class="about-detail">
            <div class="about_img-box">
              <img src="{{ url_for('static', filename='images/cal2-removebg-preview.png') }}" alt="">
            </div>
            <div class="card_detail-ox">
              <h4>
                CALON 2
              </h4>
              <h3 id="votecandidate2">
              </h3>
              <!--<p>
                Last updated 3 minutes ago from TPS Y
              </p>-->
            </div>
          </div>
          <div>
            <a href="" class="about_btn">
              Read More
            </a>
          </div>
        </div>
        <div class="about_card">
          <div class="about-detail">
            <div class="about_img-box">
              <img src="{{ url_for('static', filename='images/cal3-removebg-preview.png') }}" alt="">
            </div>
            <div class="card_detail-ox">
              <h4>
                CALON 3
              </h4>
              <h3 id="votecandidate3">
              </h3>
              <!--<p>
                Last updated 3 minutes ago from TPS Y
              </p>-->
            </div>
          </div>
          <div>
            <a href="" class="about_btn">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container info_content">
      <div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <h5>
                  About Us
                </h5>
                <ul>
                  <li>
                    <a href="">
                      It is a long established
                    </a>
                  </li>
                  <li>
                    <a href="">
                      fact that a reader will be
                    </a>
                  </li>
                  <li>
                    <a href="">
                      distracted by the read
                    </a>
                  </li>
                  <li>
                    <a href="">
                      able LoremIt is a long es
                    </a>
                  </li>
                  <li>
                    <a href="">
                      tablished fact that a
                    </a>
                  </li>
                  <li>
                    <a href="">
                      reader will be distracted
                    </a>
                  </li>

                </ul>
              </div>
              <div class="col-md-6">
                <h5>
                  Contact Us
                </h5>
                <ul>
                  <li>
                    <a href="">
                      It is a long established
                    </a>
                  </li>
                  <li>
                    <a href="">
                      fact that a reader will be
                    </a>
                  </li>
                  <li>
                    <a href="">
                      distracted by the read
                    </a>
                  </li>
                  <li>
                    <a href="">
                      able LoremIt is a long es
                    </a>
                  </li>
                  <li>
                    <a href="">
                      tablished fact that a
                    </a>
                  </li>
                  <li>
                    <a href="">
                      reader will be distracted
                    </a>
                  </li>

                </ul>
              </div>
            </div>
            <div class="form_container mt-5">
              <form action="">
                <input type="email" placeholder="Enter Your email" />
                <button type="submit">
                  Subscribe
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info_img-box">
              <img src="{{ url_for('static', filename='images/map.png') }}" alt="">
            </div>
            <div class="d-flex justify-content-end pr-5">
              <div class="social-box">
                <a href="">
                  <img src="{{ url_for('static', filename='images/fb.png') }}" alt="" />
                </a>

                <a href="">
                  <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="" />
                </a>
                <a href="">
                  <img src="{{ url_for('static', filename='images/linkedin1.png') }}" alt="" />
                </a>
                <a href="">
                  <img src="{{ url_for('static', filename='images/instagram1.png') }}" alt="" />
                </a>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>
  </section>

  <!-- end info section -->
  <hr class="footer_hr">
  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy;
      2022 All Rights Reserved.
      <a href="https://www.kpu.go.id">KPU.GO.ID</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>



  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width")
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
    }
  </script>


</body>

</html>